@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-primary {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }
  
  .bg-gradient-item {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
}

